@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
  font-family: var(--font-roboto);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-bitter);
}

p,
ul {
  font-family: var(--font-roboto);
}

@layer base {
  :root {
    --background: rgba(255, 255, 255, 1);
    --foreground: rgba(33, 28, 26, 1);
    --card: rgba(255, 255, 255, 1);
    --card-foreground: rgba(33, 28, 26, 1);
    --popover: rgba(255, 255, 255, 1);
    --popover-foreground: rgba(33, 28, 26, 1);
    --primary: rgba(66, 55, 52, 1);
    --primary-foreground: rgba(250, 249, 247, 1);
    --secondary: rgba(244, 242, 239, 1);
    --secondary-foreground: rgba(66, 55, 52, 1);
    --muted: rgba(244, 242, 239, 1);
    --muted-foreground: rgba(111, 106, 108, 1);
    --accent: rgba(244, 242, 239, 1);
    --accent-foreground: rgba(66, 55, 52, 1);
    --destructive: rgba(229, 51, 51, 1);
    --destructive-foreground: rgba(250, 249, 247, 1);
    --border: rgba(230, 228, 228, 1);
    --input: rgb(200, 198, 198);
    --ring: rgba(33, 28, 26, 1);

    --accent-yellow: #f2a838;
    /* FMT-v3:yellow- #F1A838 */
    --accent-blue: #1a5096;
    --accent-red: #a92c23;
    --accent-category: #da1b1b;
    --radius: 0.5rem;
  }

  .dark {
    --background: rgba(33, 28, 26, 1);
    --foreground: rgba(250, 249, 247, 1);
    --card: rgba(33, 28, 26, 1);
    --card-foreground: rgba(250, 249, 247, 1);
    --popover: rgba(33, 28, 26, 1);
    --popover-foreground: rgba(250, 249, 247, 1);
    --primary: rgba(250, 249, 247, 1);
    --primary-foreground: rgba(66, 55, 52, 1);
    --secondary: rgba(38, 36, 34, 1);
    --secondary-foreground: rgba(250, 249, 247, 1);
    --muted: rgba(38, 36, 34, 1);
    --muted-foreground: rgb(165, 163, 163);
    --accent: rgba(38, 36, 34, 1);
    --accent-foreground: rgba(250, 249, 247, 1);
    --destructive: rgb(181, 58, 58);
    --destructive-foreground: rgba(250, 249, 247, 1);
    --border: rgba(38, 36, 34, 1);
    --input: rgb(179, 179, 178);
    --ring: rgba(208, 207, 204, 1);
    --accent-red: #ff0000;
    --accent-blue: #296ccc;
    --accent-category: #aaff00;
    --fd: rgb(209 213 219);
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(-25%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(25%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.horizontal-load-more-animation {
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}

.slide-in-right {
  animation-name: slideInRight;
}

.slide-in-left {
  animation-name: slideInLeft;
}

/* HTML Parsing */

.html-img {
  @apply rounded-xl;
}

.youtube-container {
  @apply my-4 py-1.5;
}

figure.alignleft,
figure.alignright {
  margin-top: 2px;
  margin-bottom: 10px;
}

figure.alignleft {
  float: left;
  margin-right: 12px;
  margin-left: 0;
}

figure.alignright {
  float: right;
  margin-left: 12px;
  margin-right: 0;
}

img.alignleft,
img.alignright {
  margin-top: 2px;
  margin-bottom: 10px;
}

.addTopMargin {
  margin-top: 12px !important;
}

img.alignleft {
  float: left;
  margin-right: 12px;
  margin-left: 0;
}

img.alignright {
  float: right;
  margin-left: 12px;
  margin-right: 0;
}

.html-img-wrapper {
  display: block;
  width: auto;
  max-width: 100%;
  /* @apply flex w-auto max-w-full items-center justify-center; */
}

.quote-block {
  display: inline;
}

.location-block {
  font-weight: bold;
  font-style: normal;
  display: inline;
  color: var(--foreground);
}
@media (max-width: 768px) {
  figure.alignleft,
  figure.alignright,
  img.alignleft,
  img.alignright {
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    display: block;
    max-width: 70%;
    text-align: center;
  }

  .html-img-wrapper {
    display: block;
    margin: 0 auto;
  }

  .html-figcaption {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
}

.rbs-img-content {
  @apply font-roboto;
}

.article-list {
  @apply mx-5 my-4 list-disc space-y-2 text-lg;
}

.article-list-ol {
  @apply mx-5 my-4 list-decimal space-y-2 text-lg;
}

.article-list-li {
  @apply text-lg;
}

.mobile-ads {
  display: flex;
}

.desktop-ads {
  display: none;
}

@media (min-width: 768px) {
  .mobile-ads {
    display: none;
  }

  .desktop-ads {
    display: flex;
  }
}

@media (min-width: 1280px) {
  .top-navbar {
    overflow-x: visible !important;
  }
}

abbr {
  text-decoration: none;
}

/* Ads layout styles */

.ads-small-mobile {
  @apply mb-4 h-[120px] items-center flex justify-center md:hidden;
}

.ads-medium-mobile {
  @apply my-8 h-[270px] flex items-center justify-center md:hidden;
}

.ads-tall-mobile {
  @apply my-8 h-[630px] flex items-center justify-center md:hidden;
}

.ad-top-banner-desktop {
  @apply hidden lg:flex items-center justify-center w-full h-[100px] rounded-md;
}

.ads-dynamic-desktop {
  @apply md:h-[280px] flex justify-center items-center;
}

.ads-medium-desktop {
  @apply my-8 h-[260px] hidden justify-center items-center md:flex;
}

.ads-small-desktop {
  @apply my-8 h-[100px] hidden justify-center items-center md:flex;
}

.ads-tall-desktop {
  @apply hidden md:flex justify-center items-center md:h-[610px];
}

/* OutBrain  */
.ob-widget-text {
  @apply font-bitter font-bold;
}

.ob_what_is_text {
  @apply text-foreground mr-1;
}
